.navbar {
    height: 80px;
    background-color: rgb(153, 243, 34);
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-links {
    list-style-type: none;

}

.nav-item {
    display: inline-block;
    padding: 8px;
    background-color: rgb(255, 0, 140);
    margin-left: 10px;
    transition: 300ms;


}

.nav-item:hover {
    display: inline-block;
    padding: 15px;
    background-color: rgb(32, 28, 30);
    margin-left: 10px;
    transition: 300ms;

}

.nav-item a {
    text-decoration: none;
    font-family: Verdana;
    color: white;

}


.logo {
    flex: 20%;
}

#dev {
    border: solid 10px;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
    font-family: Verdana;
}

.titulo {
    margin-top: 100px;
}


h1 {
    font-family: Verdana;
    font-size: 20px;
    color: rgb(90, 17, 7);
    text-align: center;
    background-image: url("../img/glass.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    background-color: rgb(71, 4, 50);
    margin-bottom: 5%;
}

h2 {
    color: white;
}

p {
    font-size: 14px;
    color: rgb(219, 212, 212);
}

button {
    border-radius: 20px;
    padding: 10px;
    border: solid 2px black;
    margin-top: 20px;
}

.linha {
    display: flex;
}

.coluna {
    flex: 33.33%;
}

footer {

    margin-top: 5%;
    margin-left: 0%;
    margin-bottom: -5%;
    background-color: rgb(255, 0, 21);
    color: white;
    padding: 1%;
	

}