.navbar {
    height: 80px;
    background-color: rgb(153, 243, 34);
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}


.nav-item{
    display: inline-block;
    padding: 8px;
    margin-left: 10px;
}


.nav-item a{
    text-decoration: none;
    font-family: Verdana;
    color: rgb(40, 22, 202);
    font-size: 20px; 
}

.logo {
    flex: 20%;
}

.menu {
    padding: 20px;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    font-family: Verdana;
    color: rgb(68, 19, 146);   
}


.titulo {
    margin-top: 100px;
}


h1 {
    font-family: Verdana;
    font-size: 20px;
    color: rgb(90, 17, 7);
    text-align: center;
    background-image: url("../img/glass.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    background-color: rgb(174, 175, 179);
}


p {
    font-size: 14px;
}

button {
    border-radius: 20px;
    padding: 10px;
    border: solid 2px black;
    margin-top: 20px;
}

.linha {
    display: flex;
}

.coluna {
    flex: 33.33%;
}